i.fas {
  background-color: var(--primary-color);
  border-radius: 100%;
  color: var(--primary-color-invert) !important;
  font-size: 20px !important;
  height: 40px;
  padding: 9px;
  width: 40px;
}

i.fas.fa-map-marker-alt {
  padding-top: 11px;
}
