:host > div {
  padding: 0 !important;
}

.title {
  margin-bottom: 0;
  margin-top: 1rem;
  padding: 0 1.5rem !important;
}

.title:first-child {
  margin-top: 0;
}

.content {
  margin-bottom: 0 !important;
  margin-left: 64px;
  padding: 0 1.5rem !important;
}

h6 {
  margin-bottom: 0 !important;
}

h6 + .content {
  margin-bottom: 1rem !important;
  margin-left: 0 !important;
}

.appsemble-file > div {
  overflow-x: auto;
}

.appsemble-geocoordinates + .appsemble-file .image {
  border-radius: 0 !important;
  height: auto !important;
  margin: 0;
  margin-left: 12px;
  min-width: initial;
  position: absolute;
  top: 17rem;
  width: 64px !important;
}

.appsemble-string + .appsemble-file .image {
  margin-left: 1rem;
  margin-top: 0.5rem;
}
