.modal-card {
  & .modal-card-body {
    padding: 0 !important;

    & label::before {
      /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
      font-family: 'Font Awesome 5 Free';
      margin-right: 8px;
    }

    & > :first-child label::before {
      content: '\f073';
    }

    & > :nth-child(2) label::before {
      content: '\f085';
    }

    & .is-grouped {
      flex-flow: column;

      & .input {
        margin-bottom: 16px;
      }
    }

    & .buttons.has-addons .button {
      border-radius: 20px;
      flex-flow: column;
      height: unset;
      margin: 0 1.5rem;
      padding: 1.5rem;

      &:not(.is-selected) {
        color: hsl(0, 0%, 60%);
      }

      & .icon {
        font-size: 3rem;
        height: 3rem !important;
        margin: 0 auto 10px;
      }
    }
  }

  & .card-footer {
    background: hsl(0, 0%, 100%);
    border: none;
    padding: 15px;

    & .card-footer-item {
      border-radius: 24px;
      box-shadow: 0 0 0 0.125em hsla(0, 0%, 30.6%, 0.1) !important;
      margin: 20px;
    }
  }
}
