.button.is-primary {
  margin: 2em auto !important;
  width: 50% !important;

  &:hover {
    background-color: hsl(0, 75.9%, 67.7%) !important;
    border-color: transparent !important;
  }

  &:focus:not(:active) {
    box-shadow: none !important;
  }
}
