.field {
  margin: 0 !important;
  padding: 0;
}

.field:not(:first-child) {
  margin-top: 20px !important;
}

.modal-card-body {
  padding: 15px;
}

.modal-card-body .field:last-child {
  margin-bottom: 0.75rem !important;
}

.field.is-grouped {
  flex-flow: column;

  & .control:not(:last-child) {
    margin: 0 0 16px !important;
  }
}

/* Checkbox styling */
.modal-card-body .field > div:only-child {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  & > div {
    display: flex;
    height: 110px;
    width: 110px;

    /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
    & > input:checked + label {
      border-color: var(--primary-color);

      /* stylelint-disable-next-line selector-max-compound-selectors, selector-max-type */
      & > .icon {
        color: hsl(0, 0%, 100%) !important;
      }
    }

    /* stylelint-disable-next-line no-descending-specificity, selector-max-type */
    & > label {
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 8px;

      /* stylelint-disable-next-line no-descending-specificity, selector-max-compound-selectors, selector-max-type */
      & > .icon {
        color: hsl(0, 0%, 60%);
        font-size: 2em;
        margin: 0 auto;
      }
    }
  }
}

.card-footer {
  border: none;
}

.card-footer-item {
  border-radius: 24px;
  box-shadow: 0 0 0 0.125em hsla(0, 0%, 30.6%, 0.1) !important;
  margin: 20px;
}
